/*for Montserrat font*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --primary-color: #f3eae5;
  --text-dark: hsl(23, 10%, 16%);
  --white: #ffffff;
  --max-width: 1200px;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  font-family: "Montserrat", sans-serif;

}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--text-dark);
    /*border: 2px solid red;*/
}
.logo_section {
    width: 25vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* border: 2px solid red;*/
    margin: 0px 13px;
}
.logo_section p{
    font-size: 20px;
    font-weight: 600;
    color: var(--white);
    margin: 0px 13px;
}
.logo_section .nav_logo {
    height: 10vh;
    width: 9vw;
    /*border: 2px solid rgb(0, 255, 76);*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.logo_section .nav_logo a{
    padding: 5px;
    
}
.icon_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ul_section ul{
    list-style: none;
    background: #2c2724;
}
.ul_section ul li{
    display: inline-block;
    position: relative;
}
.ul_section ul li a {
    display: block;
    padding: 0px 25px;
    color: #FFF;
    text-decoration: none;
    font-size: 20px;
}
.ul_section ul li ul.dropdown li{
    display: block;
}
.ul_section ul li ul.dropdown {
    width: 100%;
    background: #2c2724;
    position: absolute;
    z-index: 999;
    display: none;
}
.ul_section ul.dropdown li a:hover{
    font-size: 18px;
}
.ul_section ul li a:hover{
    background-color: #524a46;
}
.ul_section ul li:hover ul.dropdown{
    display: block;
    padding: 10px 0px;
}
.icon_section{
    width: 23vw;
    display: flex;
    justify-self: space-between;
    align-items: center;
    /*border: 2px solid rgb(0, 255, 76);*/
}
.fb_btn{
    cursor: pointer;
    padding: 5px;
    color: #fff;
    background-color: #2c2724;
    border: 2px solid #fff;
    font-size: 20px;
}
.fb_btn:hover{
    background-color: var(--primary-color);
    color: var(--text-dark);
}
.msg_icon a,
.user_icon a{
    font-size: 20px;
    color: #fff;
}
.user_logo{
    display: flex;
    justify-self: space-between;
    align-items: center;
}
.user_logo p{
    color: #fff;

}
.msg_icon {
    padding: 0px 15px ;
}
.user_icon{
    padding: 0px 30px 0px 15px;
}
/*.......user icon click ..........*/
.sub-menu-wrap{
    position: absolute;
    top: 11%;
    right: 3%;
    width: 320px;
    border: 2px solid #ccc;
    max-height: 400px;
    z-index: 9999;
    background-color: var(--white);
}
.sub-menu{
    background-color: #fff;
    padding: 20px;
    margin: 10px;
}
.sub-menu hr{
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}
.user-info{
    display: flex;
    align-items: center;
}
.user-info h3{
    font-weight: 500;
}
.sub-menu-links{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
    padding: 0 10px;
}
.sub-menu-links p{
    width: 100%;
}
.sub-menu-links i{
    padding: 8px;
    margin: 0 15px;
    font-size: 25px;
    display: flex;
    width: 40px;
    height: 40px;
    background: #e5e5e5;
    border-radius: 50%;
} 
.sub-menu-links span{
    font-size: 22px;
    transition: transform 0.5s;
}
.sub-menu-links:hover span{
    transform: translateX(5px);
}
.sub-menu-links:hover p{
    font-weight: 600;
}
.f{
    display: none;
}

@media (min-width: 1300px) {
    .jumbotron {
      padding: 1rem 2rem;
    }
  }

  .tdaction {
    width: 15%;
  }

  .tdSr {
    width: 7%;
  }

  strong {
      font-size: 24px !important;
  }

  input.largerCheckbox {
    width: 20px;
    height:
     20px;
  }
  .table-container {
      max-height: 500px; /* Set the maximum height of the container */
      overflow-y: auto; /* Enable vertical scrolling */
  }

   #tblData {
      width: 100%; /* Set the table width to 100% */
  }
  .blackhead{
      color: black;
      font-weight: 800px;
  }
  /*search*/
  .search {
      margin-left: 80px;
      width: 400px; /* Adjust the width according to your preference */
  }